@import 'article';
@import 'browse';
@import 'item';
@import 'collection';
@import 'nav';
@import 'section';
@import 'index';
@import 'font';
@import 'color';
@import 'form';
@import 'footer';
@import 'exhibit';

@mixin horizontal-center {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.container-fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9998;
}

.container-fixed-top {
  @extend .container-fixed;
  top: 0;
}

.container-fixed-bottom {
  @extend .container-fixed;
  bottom: 0;
}

.container-fixed-center {
  @extend .container-fixed;
  @include horizontal-center;
}

::selection {
  background-color: $dark-grey;
  color: white;
}

::-moz-selection {
  background-color: $dark-grey;
  color: white;
}
/* Begin Wooster Women in Sport theme additions */
.highlight-jumbotron .col-md-4, .col-sm-6 {
padding-left: 0px;
padding-right: 0px
}
#exhibitMenu {
  text-align: center;
  margin-bottom:5px;
}
button#exhibitMenu.btn.btn-default.center-block.dropdown-toggle {
    border-radius: 0px 0px 30px 30px;
font-size: 20px;

}
.dropdown-menu {
align-items: left;
text-align: center;
}
.dropdown-menu > li {
      text-align: center;
      list-style-type: none;
      margin-left: 20px;
}
ul.dropdown-menu {
  margin-right: 40px;
}
.dropdown-menu>li>a {
  display: block;
padding: 3px 20px;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #333;
white-space: nowrap
}
  .affix {
      top: 0;
      width: 100%;
  }
ul.dropdown-menu {
  display: none;
}
  .affix + .container-fluid {
      padding-top: 70px;
  }